* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-slider-container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e3f2fd;
}

.form {
  align-items: center;
}

.testimonial {
  position: relative;
  max-width: 900px;
  width: 100%;
  padding: 50px 0;
  overflow: hidden;
}

.testimonial .image {
  height: 170px;
  width: 170px;
  object-fit: cover;
  border-radius: 50%;
}

.testimonial .slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 30px;
  height: 100%;
  width: 100%;
}

.slide .question {
  font-family: 'Arial', sans-serif;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.slide .input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 10px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
}

.input,
.label {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
}

.input-radio {
  display: none;
}

.label {
  display: block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

.label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  width: 10px;
  height: 10px;
  border: 2px dashed #2196f3;
  border-radius: 50%;
  transition: transform ease-in-out 0.2s;
}

.label:hover:before {
  transform: scale(1.2);
}

.input-radio:checked + .label:before {
  background-color: #2196f3;
}

.input-submit {
  display: flex;
  border: none;
  cursor: pointer;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
  transition: transform ease-in-out 0.2s;
}

.input-submit:hover {
  transform: scale(1.02);
}

/* swiper button css */
.nav-btn {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transform: translateY(30px);
  background-color: rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}
.nav-btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.nav-btn::after,
.nav-btn::before {
  font-size: 20px;
  color: #fff;
}
.swiper-pagination-bullet {
  background-color: rgba(0, 0, 0, 0.8);
}
.swiper-pagination-bullet-active {
  background-color: #4070f4;
}
@media screen and (max-width: 768px) {
  .slide p {
    padding: 0 20px;
  }
  .nav-btn {
    display: none;
  }
}

/* modal */
.modal {
  display: none;
  position: fixed;
  z-index: 3;
  width: 30%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Arial', sans-serif;
  font-size: 16px;
}

.modal-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  background-color: #f9f9f9;
}

.close {
  color: rgba(0, 0, 0, 0.5);
  font-size: 28px;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
}

.overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.3);
}
